@model ApiFutbol.Models.Posicion

@{
    Layout = "_LAYOUT";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h1 class="text-light">Estás seguro de que quieres eliminar esta posición?</h1>
    <div>
        <hr />
        <dl class="row text-light">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NombrePosicion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NombrePosicion)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="pb-2">
            <input type="hidden" asp-for="IdPosicion" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
        
        </form>
        <a asp-action="Index">Volver a la Lista</a>
    </div>
</body>
</html>
