

<div class="text-center">
    <h1 class="display-4 text-light fw-bold">Futbol APP</h1>
    <div>
        <img class="w-75 h-50" src="https://as01.epimg.net/masdeporte/imagenes/2021/08/18/reportajes/1629287252_471087_1632935001_noticiareportajes_grande.jpg" alt="IMG-HOME" />
    </div>
</div>
